<h1>BREDEX Web Bewerber Test</h1>
<h2>Task 1</h2>
<!-- Displaying user data , I also printed address, phone, website, and company name.  -->
<table>
    <thead>
        <th><b>Name</b></th>
        <th><b>User Name</b></th>
        <th><b>Email</b></th>
        <!-- <td><b>Address</b></td>
        <td><b>phone</b></td>
        <td><b>website</b></td>
        <td><b>Company Name</b></td> -->
    </thead>
    <tbody>
        <tr *ngFor="let userdetail of GetPersonDetails">
            <td>{{userdetail.name}}</td>
            <td>{{userdetail.username}}</td>
            <td>{{userdetail.email}}</td>
            <!-- <td>{{userdetail.address['street']}}</td>
            <td>{{userdetail.phone}}</td>
            <td>{{userdetail.website}}</td>
            <td>{{userdetail.company['name']}}</td> -->
        </tr>
    </tbody>
</table>

<h2>Task 2 - POST DATA WITH FORM</h2>
<!-- Here, you can post user, username, and email address and it will automatically added in the above list -->
<form [formGroup]="addperson" (submit)="createNewPerson()">
    <div class="row">
        Name : <input type="text" formControlName="name" />
    </div>
    <div class="row">
        User Name : <input type="text" formControlName="username" />
    </div>
    <div class="row">
        Email : <input type="text" formControlName="email" />
    </div>
    <div class="row">
        <button type="submit" class="btn btn-secondary"> Add Person </button>

    </div>
</form>