<mat-card>
<mat-form-field>
  <textarea rows="6" [(ngModel)] = "enteredValue"></textarea>
</mat-form-field>

<hr>
<button mat-raised-button color="accent" (click)="onAddPost()">Save Post</button>
</mat-card>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->
